:root {
  --prim-text-color: #757575;
--sec-text-color: #212121; 
--accent-color:  #2196F3;
--prime-white-color: #FFFFFF;
--shadow-box-color:rgba(255, 255, 255, 0.6);
--crew-bg-color: #F5F4FA;
--footer-hero-bg-color:#2F303A;
}

.hero {
  background-color: var(--footer-hero-bg-color);
  margin-bottom: 94px;
 /* padding-top: 200px;
  padding-right: 452px;
  padding-bottom: 280px;*/
  }
.hero .title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: var(--prime-white-color);
}
footer {
 background-color: var(--footer-hero-bg-color);
  font-style: normal;
 font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--prime-white-color);
margin-top: 0;
margin-bottom: 0;

}
.footers .logo-studio {
color:var(--prime-white-color);
}
.crew {
  background-color:var(--crew-bg-color);
}
body {
  font-family: roboto, sans-serif;
  color:var(--prim-text-color);
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  text-decoration: none;
}

h1,h2,h3 {
    color:var(--sec-text-color);
} 
.title {
  color: #FFFFFF;
}
.title-about {
  font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.05em;
color:var(--sec-text-color);
margin-top: 0;
margin-bottom: 50px;
}
.logo-web {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.04em;
color:var(--accent-color);
text-decoration: none;
padding: 24px 93px 25px 215px;
}
.logo-studio {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.04em;
text-decoration: none;
color:var(--sec-text-color);

}
.site-nav .link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color:var(--sec-text-color);
list-style: none;
text-decoration: none;
display: block;
padding-top: 32px;
padding-bottom: 32px;
}

.site-nav .nav .link:hover,
.site-nav .nav .link:focus {
  font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color:var(--accent-color);
}
.site-nav .link .current-page {
color:var(--accent-color);
}
ul {
  list-style: none;
}
.hero-button {
  align-items: center;
text-align: center;
letter-spacing: 0.02em;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color:var(--prime-white-color);
background-color:var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.about-title {
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 10px;
}
.about {
  font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}
h2 {
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.03em;
color:var(--sec-text-color);
}
.project-type {
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.04em;
color:var(--prim-text-color);
margin-top: 0;
margin-bottom: 0;
}
.crew .employees {
  font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
}
.crew .profession {
  font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.04em;
}
.footer-address ,p {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
margin-bottom: 9px;
margin-top: 0;
}
.footer-address .contacts {
  font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color:var(--shadow-box-color);
text-decoration: none:

}
.sort-button .sort {
background-color:var(--crew-bg-color);
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
color:var(--sec-text-color);
}
.sort-button {
  margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.sort-button .sort:hover,
.sort-button .sort:focus {
 background-color:var(--accent-color);
 font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color:var(--prime-white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.header-address .link:hover,
.header-address .link:focus {
   color:var(--accent-color);
}
.header-address .link{
  font-style: normal;
  font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color:var(--prim-text-color);
text-decoration: none;
}
.page-container {
 margin-left: auto;
margin-right: auto;
width: 1200px;
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: center;

}
.nav-container {
margin-left: auto;
margin-right: auto;
width: 1200px;
display: flex;
align-items: baseline;

}
.address-container {
margin-left: auto;
margin-right: auto;
width: 1170px;
display: inline;
padding-right: 215px;
align-content: center;
flex-direction: row;
align-items: baseline;
}
.about-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.about-container {
  margin-top: 0;
  margin-bottom: 94px;
}
.works {
  margin-top: 0;
  margin-bottom: 0;
}
.works-container {
  margin-top: 0;
  margin-bottom: 94px;
}
.crew-list {
  margin-top: 0;
  margin-bottom: 0;
}
.employees {
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  margin-top: 0;
  margin-bottom: 30px;
}
.crew {
   margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.footers-logo {
 margin-bottom: 20px;
}
.footers {
 padding-top: 60px;
 padding-bottom: 60px;
 padding-left: 215px;
}
.footer-address {
  margin-bottom: 0;
}
.footer-mail {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-tel {
  padding-bottom: 60px;
}
.site-nav {
display: flex;
margin-right: 50px;
margin-top: 0;
margin-bottom: 0;
}

.battons-container {
  margin-top: 94px;
  margin-bottom: 50px;
  margin-right: 494px;
  margin-left: 495px;
}
.portfolio {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 94px;
  margin-left: 215px;
  margin-right: 215px;
  padding-left: 0;
}
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  display: flex;
}
.nav ,li{
 margin-right: 50px; 
}
.header-mail {

margin-right: 50px;

}
.header-tel {



}